<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career - Seth Anandram Jaipuria School - Barabanki</title>
</head>
<body>
    {%extends 'parent.html' %}
    {%load static %}
    <!-- Slider Start -->
     {%block text%}
     <span class="text-white" style="font-size: 11px;"> /  Career </span>
     <h2 class="text-light">Career </h2>
     <hr style="opacity: 1;height:1vh; width: 6vw; background-color: #346fd4;" class="border-0">
     {%endblock%}
    <!-- Slider End-->
     <!-- Main Start -->
        {% block body%}
        <div class="row my-5">
            <div class="col-sm-10 mx-auto">
                <div class="row my-5 col-sm-12 mx-auto">
                    <h2 data-aos="fade-down"><strong>Find Your Opportunity</strong></h2>
                    <p class="text-muted fs-5" style="font-weight: 100; text-align: justify;" ><strong>Seth Anandram Jaipuria School</strong> invites applications for faculty at various levels given below. We are looking for teachers with exposure to the latest teaching-learning tools and pedagogical innovations. Proficiency in computers, communication & linguistic competency in English is essential for all academic positions.</p>
                </div>
            </div>
                <div class="row" style="background-color: rgb(247, 247, 247);">
                    <div class="col-sm-10 me-auto mx-auto">
                        <div class="row my-5">
                            <div class="col-sm-8 me-auto ">
                                <h5 data-aos="fade-right">Current <b> Opening</b></h5>
                                <div class="row my-3 bg-white" data-aos="fade-left">
                                    <div class="col-sm-12 py-3 " style="border: 4px solid rgb(235, 230, 230);">
                                        <details>
                                            <summary class="text-primary">
                                                TGT
                                            </summary>
                                            <br>
                                            <p class="text-muted">English, Hindi, Math, Science, SST, Sanskrit, French, German, Computers (Post Graduate/Graduate with B.Ed. Minimum 5 years experience)</p>
                                        </details>
                                    </div>
                                </div>
                                <div class="row my-3 bg-white">
                                    <div class="col-sm-12 py-3 " style="border: 4px solid rgb(235, 234, 234);">
                                        <details>
                                            <summary class="text-primary">
                                                PRT - All Subect
                                            </summary>
                                            <br>
                                            <p class="text-muted">Graduate with B.Ed. Minimum 3 years experience</p>
                                        </details>
                                    </div>
                                </div>
                                <div class="row my-3 bg-white">
                                    <div class="col-sm-12 py-3 " style="border: 4px solid rgb(235, 233, 233);">
                                        <details>
                                            <summary class="text-primary">
                                               PRE-PRIMARY TEACHER
                                            </summary>
                                            <br>
                                            <p class="text-muted">Graduate with NTT or B.Ed. with work experience</p>
                                        </details>
                                    </div>
                                </div>
                                <div class="row my-3 bg-white">
                                    <div class="col-sm-12 py-3 " style="border: 4px solid rgb(235, 230, 230);">
                                        <details>
                                            <summary class="text-primary">
                                               ACADEMIC COORDINATOR
                                            </summary>
                                            <br>
                                            <p class="text-muted">B.Ed. with 5 years of experience in Teaching & Administration</p>
                                        </details>
                                    </div>
                                </div>
                                <div class="row my-3 bg-white">
                                    <div class="col-sm-12 py-3 " style="border: 4px solid rgb(235, 231, 231);">
                                        <details>
                                            <summary class="text-primary">
                                               PHYSICAL EDU. & ACTIVITY TEACHERS
                                            </summary>
                                            <br>
                                            <p class="text-muted">Sports, Art & Craft, Music & Dance, Librarian Degree / Diploma in respective fields with work experience</p>
                                        </details>
                                    </div>
                                </div>
                                <div class="row my-3 bg-white">
                                    <div class="col-sm-12 py-3 " style="border: 4px solid rgb(235, 231, 231);">
                                        <details>
                                            <summary class="text-primary">
                                               TRANSPORT IN-CHARGE
                                            </summary>
                                            <br>
                                            <p class="text-muted">Graduate with relevant experience of 5 years in a reputed school</p>
                                        </details>
                                    </div>
                                </div>
                                <div class="row my-3 bg-white">
                                    <div class="col-sm-12 py-3 " style="border: 4px solid rgb(235, 231, 231);">
                                        <details>
                                            <summary class="text-primary">
                                               IT EXECUTIVE
                                            </summary>
                                            <br>
                                            <p class="text-muted">MCA/BCA with relevant experience</p>
                                        </details>
                                    </div>
                                </div>
                                <div class="row my-3 bg-white">
                                    <div class="col-sm-12 py-3 " style="border: 4px solid rgb(235, 235, 235);">
                                        <details>
                                            <summary class="text-primary">
                                              ADMISSION COUNSELLOR
                                            </summary>
                                            <br>
                                            <p class="text-muted">Graduate with 3 years of experience in handing enquiries and admissions</p>
                                        </details>
                                    </div>
                                </div>
                                <div class="row my-3 bg-white">
                                    <div class="col-sm-12 py-3 " style="border: 4px solid rgb(235, 232, 232);">
                                        <details>
                                            <summary class="text-primary">
                                                ACCOUNTING & SCHOOL ADMINISTRATOR
                                            </summary>
                                            <br>
                                            <p class="text-muted">Graduate in respective fields and prior work experience of 3 -5 years</p>
                                        </details>
                                    </div>
                                </div>
                                <div class="row my-3 bg-white">
                                    <div class="col-sm-12 py-3 " style="border: 4px solid rgb(236, 236, 236);">
                                        <details>
                                            <summary class="text-primary">
                                                MARKETING OFFICER
                                            </summary>
                                            <br>
                                            <p class="text-muted">Graduate/MBA min. 3-5 yrs. experience</p>
                                        </details>
                                    </div>
                                </div>
                                <div class="row my-3 bg-white">
                                    <div class="col-sm-12 py-3 " style="border: 4px solid rgb(235, 232, 232);">
                                        <details>
                                            <summary class="text-primary">
                                                RECEPTIONIST / FRONT DESK
                                            </summary>
                                            <br>
                                            <p class="text-muted">Graduate min. 1 yrs. experience</p>
                                        </details>
                                    </div>
                                </div>
                                <div class="row my-3 bg-white">
                                    <div class="col-sm-12 py-3 " style="border: 4px solid rgb(235, 233, 233);">
                                        <details>
                                            <summary class="text-primary">
                                                SALARY WILL BE NO BAR FOR DESERVING CANDIDATES
                                            </summary>
                                            <br>
                                            <p class="text-muted">Interested candidates can apply within 7 days by sending the resume on email (given below) with position and Outstation candidates are preferred and accommodation would be provided.
                                                Shortlisted candidates will be called for interview</p>
                                        </details>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4   ">
                                <h5 data-aos="fade-right"><b>Career-Apply Online</b></h5>
                                <div class="row bg-white my-3 ms-auto" style="border: 4px solid rgb(235, 234, 234);">
                                    <div class="col-sm-12 my-2" >
                                        <form action="" method="post" >
                                            <input type="text" name="name" placeholder="Full Name *" class="form-control" required>
                                            <br>
                                            <input type="text" name="" placeholder="Post applied for * " required class="form-control">
                                            <br>
                                            <input type="text" name="" placeholder="Phone *" required class="form-control">
                                            <br>
                                            <input type="Email" placeholder="Email *" required class="form-control">
                                            <br>
                                            <input type="text" name="" placeholder="City *" required class="form-control">
                                            <br>
                                            <p class="text-muted">Upload Resume (Supported files: .doc/.docx/.pdf)</p>
                                            <input type="file" name="" id="">
                                            <br><br>
                                            <textarea name="" placeholder="Please Copy and Paste yoru resume here" class="form-control"></textarea>
                                            <br>
                                            <button type="submit" class="btn btn-primary">Submit</button>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        

        {%endblock%}
     <!-- Main ENd -->
</body>
</html>