<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules & Regulations</title>
    
</head>
<body>
{%extends 'parent.html'%}
{%load static%}
{%block text%}
<span class="text-white" style="font-size: 11px;">  /  Rules and Regulation</span>
<h2 class="text-light">Rules and Regulation</h2>
<hr style="opacity: 1;height:1vh; width: 21vw; background-color: #346fd4;" class="border-0">
              {%endblock%}

{%block body%}
<div class="row my-4">
    <div class="col-sm-10 mx-auto">
        <h2 class="fw-bold py-4" data-aos="fade-up">WITHDRAW RULES </h2>
        <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>
            A one- month notice period or one- month notice fee is required for withdrawal.
        </p>
        <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>
            Clearance must be obtained from the laboratory and library incharge before applying for withdrawal.
        </p>
        <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>
            Transfer Certificate will be issued after 15 days of the receipt of the application and clearance of all dues.
        </p>
        <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>
            Application for withdrawal is to be made on a prescribed proforma available in the school office. 
        </p>



        <h2 class="fw-bold py-4" data-aos="fade-up">BUS/VAN RULES </h2>
        <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>
          
           Existing routes will continue to ply. Change in routes and bus / van stops will not be entertained during the session.
        </p>
        <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>Any suggestions or complaints should be reported to the transport incharge. Parents are expected to treat the bus / van staff kindly.<p class="text-muted">
        <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>
                Request for using the bus / van must be made at the beginning of the session i.e. in the month of April. No request will be entertained mid-session.</p>
<p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>It will be the sole responsibility of the parents to escort the pupil to and from the fixed bus stops.</p>



                    <h2 class="fw-bold py-4" data-aos="fade-up"> RIGHT TO ALTERATION/MODIFICATION </h2>
                    
    <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>
                        Seth Anandram Jaipuria School reserves its right to change the Fee Structure.
      <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>
                            Management reserves the right to modify, alter and/or include terms and conditions that may be deemed fit in the interest of the Institution.</p>              >
                 <h2 class="fw-bold py-4" data-aos="fade-up"> MEDICAL FACILITY </h2>
                                <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>The school provides facilities of first-aid only.</p>
                 <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>
                                        The school has a well equipped dispensary to deal with emergency.</p>
                 <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>The school cannot be held responsible for injury suffered by a child. No reimbursement of charges would be made towards any medical treatment.</p>
            
                 
                 <h2 class="fw-bold py-4" data-aos="fade-up">REGISTRATION PROCEDURE & RULES</h2>
                 <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>
                 Registration Forms are to be filled in and submitted to the School Office before the end of the Registration period</p>
                 <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>Incomplete or illegible Registration Forms, without photographs will not be processed / accepted.

                 </p> 
                 <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>Dates for test / interviews / interaction will be given at the time of registration. The school authorities reserve the right to change the date and time.</p>
                 <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>Mere issue of form or registration does not confirm admission which is subject to Admission Test / interviews / interaction and the availability of seats.</p>
                 <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>Photo copy of Birth Certificate issued by Municipal Corporation or concerned civic authority must accompany the Registration Form  Nursery.</p>
                 <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>Age of admission to class Pre-nursery is 3+ years and class 1st is 6+ years on 1st April of the academic session in which admission is being sought.</p>

                 <h2 class="fw-bold py-4" data-aos="fade-up">PROCEDURE FOR FEE PAYMENT </h2>
                 <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>At the time of admission, fee is payable by bank draft / pay order only at the school office.</p> 
                 <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>Cheque should be drawn in favor of “Seth Anandram Jaipuria School,, Sadhu Campus - Barabanki”.</p>
                 <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>Fee is to be paid in advance for every three months before 10th of the first month. Fee once paid is not refundable, unless specified otherwise.</p>
                 <p class="text-muted"><i class="fa-regular fa-circle-check fs-3 pe-2 " style="color: #b12525;"></i>Payment of fee by cheque shall be accepted by our banker upto 10th of the first month of a term in which the payment falls due</p>


    </div>

</div>
{%endblock%}
</body>
</html>