
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About School</title>
</head>
<body>
    {%extends 'parent.html'%}
{%load static%}

{%block text%}
         <span class="text-white">  /  About School </span>
<h2 class="text-light">About School</h2>
<hr style="opacity: 1;height:0.7vh; width: 13vw; background-color: #346fd4;" class="border-0">
{%endblock%}

{%block body%}
<!-- about  school start  -->
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-9 mt-5">
        <h2 class="fw-bold" data-aos="fade-down">ABOUT US</h2>
        <p class="pt-2 fs-5 text-muted"> <span style="color: rgba(0, 0, 0, 0.573);" class="fw-bold">Seth Anandram Jaipuria School, Sadhu Campus – Barabanki </span > is committed to <span style="color: rgba(0, 0, 0, 0.573);" class="fw-bold">‘Empower, Enthuse and Excel’ </span >in providing quality education and ensuring that every child is taught the necessary values to guide him/her through the journey of life. We at Seth Anandram Jaipuria School endow education for LIFE!</p>
       </div>   
</div>

<div class="row" bg-secondary>
    <div class="col-sm-1"></div>
    <div class="col-sm-9 mt-5">
        <h4 data-aos="fade-down">Who <b>We Are</b></h4>
        <p class="text-muted pt-4" style="font-size:18px ;">Seth Anandram Jaipuria School, Sadhu Campus – Barabanki, is spread over a lush green campus of 2.16 acres. It offers an extensive range of facilities for the all-round development of every child. Every classroom of the school has Digital Smart Boards.</p>

        <p class="text-muted  pt-3 pb-5" style="font-size: 18px;">We adopt a child-centric approach to education and recognize talent in our students. New, modern-day pedagogical concepts such as Design Thinking, Literacy and Numeracy Skills are part of the school’s curriculum. We stress on good values like compassion, empathy, kindness, solidarity and tolerance as much as we emphasize on intellect, wit, critical thinking, and analytical reasoning.</p>
    </div>
</div>



{%endblock%}


<!-- about school end  -->
    
</body>
</html>


