<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Class</title>
    
</head>
<body>
{%extends 'parent.html'%}
{%load static%}
{%block text%}
                  <span class="text-white">  / Smart Class </span>
         <h2 class="text-light">SMART CLASS</h2>
         
         <hr style="opacity: 1;height:1vh; width:14vw; background-color: #346fd4;" class="border-0">
         {%endblock%}

{%block body%}
<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row my-5">
            <div class="col-sm-5 ms-5">
                <img src="{%static 'img/smart.jpg'%}" alt="" class="w-100 shadow-lg p-3 mb-2 bg-white rounded-4 img-hover" data-aos="fade-right">
            </div>
            <div class="col-sm-5 ms-5">
                <p class="" style="justify-content: space-between;"><strong>The Jaipuria Smart Class makes learning</strong> fun through the use of digital equipment such as VCD or DVD players, laptops and computers attached to a projector.</p>

                  <p>  Students are provided with audio-visual information on various topics pertaining to different subject areas from the large volume of material available online. This style of teaching engages students with the lesson and improves creativity and curiosity to facilitate better knowledge retention.</p>
                    
                  <p>  Mentors can use online information on different topics from latest educational material published anywhere in the world and present the information by using PowerPoint presentations, word documents, audio sessions, video screening, and other instructional tools.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-10  my-3 ps-5 mx-auto   " data-aos="fade-up">
        <h2>ADVANTAGES OF SMART CLASS</h2>
        
    </div>
    
</div>
<div class="row bg-light ">
    <div class="col-sm-10  mx-auto ps-5 pb-5">
        
        
        <p><i class="fa-regular fa-circle-check fs-4 text-danger mx-2"></i>Anytime access to extensive online information</p>

        <p><i class="fa-regular fa-circle-check fs-4 text-danger mx-2"></i>Interactive environment for better knowledge retention</p>
        
        <p><i class="fa-regular fa-circle-check fs-4 text-danger mx-2"></i>Education not confined to printed matter</p>
        <p><i class="fa-regular fa-circle-check fs-4 text-danger mx-2"></i>Availability of online notes ensuring better student concentration in class</p>
        <p><i class="fa-regular fa-circle-check fs-4 text-danger mx-2"></i>Use of electronic tools such as digital pens that are easy to maintain</p>
        <p><i class="fa-regular fa-circle-check fs-4 text-danger mx-2"></i>Smart classes offer the perfect solution for teaching students with disparate levels of IQs. Students who need further illustration of a specific concept already taught <span class="ms-4">in class for better comprehension can opt for the online resources of a smart class and retain the knowledge gained for larger periods of time.</span></p>
    </div>
</div>
{%endblock%}
</body>
</html>