{% extends "teacherparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Teacher Home</h1>            
        </div>
        <div class="row ">
        <div class="col-sm-6 my-2 ">
            <div class="card shadow p-3">
               <div> <i class="fa-solid fa-user-graduate fs-2 text-warning"></i><span class="ms-3 fs-5 fw-bold">Students_Enrolled
            </span>
            <h2 class="text-center pt-3 text-warning">{{stu_count}}</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 my-2">
            <div class="card shadow p-3">
                <div> <i class="fa-solid fa-book-open-reader fs-2 text-success"></i><span class="ms-3 fs-5 fw-bold">Total_Subjects
                </span>
                <h2 class="text-center pt-3 text-success">{{sub_count}}</h2>
                    </div>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 mx-auto">
            <h2 class="text-center mt-4 fw-bold fs-2 text-warning"><u>Notice Board</u></h2>
            <marquee behavior="" direction="right" class="my-3 fs-3 text-danger fw-bold">Announcement</marquee>
            <table class="table table-bordered text-light text-center">
            <tr>
                <th class="fw-bold fs-2 text-primary">Notice</th>
        
           
            </tr>
            {% for n in noti %}
            <tr>
                
                
                <th  style="height: 30vh;" class="fw-bold fs-3">{{n.notice}}</th>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock body %}