{% extends "teacherparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Profile</h1> 
            <form  method="post" class="row g-4" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-sm-12">
                    <div class="mx-auto" style="max-width:200px;">
                        {% if t.pic %}
                        <img src="{{t.pic.url}}" alt="" class="w-100" height="200">
                        {% endif %}
                        <input type="file" name="pic" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6"><label for="">Name</label><input type="text" value="{{t.name}}" class="form-control bg-dark" readonly></div>
                <div class="col-sm-6"><label for="">Phone Number</label><input type="text"   value="{{t.phone}}" class="form-control bg-dark" readonly></div>
                <div class="col-sm-6"><label for="">Email</label><input type="text" value="{{t.email}}" class="form-control bg-dark" readonly></div>
                <div class="col-sm-6"><label for="">Qualification</label><input type="text" value="{{t.qualification}}" class="form-control bg-dark" readonly></div>
                <div class="col-sm-6"><label for="">Experience</label><input type="text" value="{{t.experience}}" class="form-control bg-dark" readonly></div>
                <div class="col-sm-6"><label for="">Salary</label><input type="text"  value="{{t.tsalary}}" class="form-control bg-dark" readonly></div>
                <div class="col-sm-6"><label for="">Class</label><input type="text"  value="{{t.tclass}}" class="form-control bg-dark" readonly></div>
                <div class="col-sm-6">
                    <textarea name="address" id="" class="form-control text-dark mt-3" required readonly>{{t.address}}</textarea>
                </div>
                
                <div col-sm-12 class="text-center">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </form>  
              
        </div>
    </div>
{% endblock body %}
