{% extends "teacherparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Attendance</h1>
            {% if msg %}
            <div class="alert alert-dark" role="alert">
                {{msg}}
                <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
            {% endif %}
            <table class="table table-bordered">
                <tr>
                    <th>Student Name</th>
                    <th>Studernt Id</th>
                    <th>Student Class</th>
                    
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                {% for s in students %}
                    <form method="post">
                        {% csrf_token %}
                        <tr>
                            <td><input type="text" name="studentname" value="{{s.name}}" class="form-control text-dark" readonly></td>
                            <td>
                                <input type="text" name="studentid" value="{{s.id}}" class="form-control text-dark" readonly>
                            </td>                            
                            <td>
                                <input type="text" name="sclass" value="{{teacher.tclass}}" class="form-control text-dark" readonly>
                            </td>
                           
                            <td>
                                <select name="status" id="" class="form-select">
                                    <option value="P">P</option>
                                    <option value="A">A</option>
                                </select>
                            </td>
                            <th>
                                <button class="btn btn-success">Done</button>
                            </th>
                        </tr>
                    </form>
                {% endfor %}
            </table>
               
              
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <table class="table text-light  mx-auto table-bordered text-center">
                <tr>
                    <th colspan="6" class="text-center text-warning fs-4">Student Attendance</th>
                </tr>
       
                <tr>
                    <th>S. No</th>
                    <th>Date</th>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Attendance</th>
                    <th>Delete</th>
                    
                </tr>
                {% for a in att %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{a.date}}</td>
                    <td>{{a.studentid}}</td>
                    <td>{{a.studentname}}</td>
                    <td>{{a.status}}</td>
                    <td>
                        <a href="{% url 'teacherapp:delattend' id=a.id %}" class=" btn btn-danger">Delete</a>
                    </td>
                    
    
                
                </tr>
                {% endfor %}
            </table> 
        </div>
    </div>
{% endblock body %}