{% extends "adminparent.html" %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Admin Home</h1>   
              
        </div>
    </div>
    <div class="row my-4">
    <div class="col-sm-4">
        <div class="card shadow p-3">
            <h4><i class="fa-solid fa-user-graduate fs-1 ms-3 text-warning"></i><span class="ms-5">Students Enrolled</span></h4>
            <h3 class="text-center pt-3 text-warning">{{stu_count}}</h3>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card shadow p-3">
            <h4><i class="fa-solid fa-chalkboard-user fs-1 ms-3 text-primary"></i><span class="ms-5">Teachers Enrolled</span></h4>
            <h3 class="text-center pt-3 text-primary">{{t_count}}</h3>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card shadow p-3">
            <h4><i class="fa-solid fa-users-rectangle fs-1 ms-3 text-success"></i><span class="ms-5">Classes</span></h4>
            <h3 class="text-center pt-3 text-success">{{class_count}}</h3>
        </div>
    </div>
    <div class="col-sm-4 my-4">
        <div class="card shadow p-3">
            <h4><i class="fa-solid fa-book fs-1 ms-3 text-danger"></i><span class="ms-5">Subjects</span></h4>
            <h3 class="text-center pt-3 text-danger">{{sub_count}}</h3>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-8 mx-auto">
            
            <form action="{%url 'adminapp:notice'%}" method="post" class="" >  
                {% csrf_token %}
              
               <h1 class="text-center">Notice Board</h1>
                 <textarea name="notice" type="notice" name="notice" class="form-control my-4  mx-auto  fw-bold fs-3" placeholder="" style="height: 400px;">
                    
                 </textarea>
    
                 <button type="submit" class="btn btn-primary  mb-5 " style="margin-left: 23vw;" >Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mx-auto">
            <table class="table table-responsive table-dark text-light">
                <tr>
                    <td>S.no:</td>
                    <td>Notifiction</td>
                    <td>Created At </td>
                    <td>Action</td>
                </tr>
                {% for i in t_noti%}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{i.notice}}</td>
                    <td>{{i.created}}</td>
                    <td>
                        <a href="{% url 'adminapp:delattend' id=i.id %}" class="btn btn-danger">Delete</a>
                        
                    </td>
                </tr>
                {%endfor%}
            </table>
        
        </div>
    </div>

{% endblock body %}
