{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Class</h1>   
              <form action="" method="post" class="row">
              {% csrf_token %}
                <table class="table text-light w-75 mx-auto">
                    <tr>
                        <td>Enter Class Name</td>
                        <td>
                            <input type="text" name="name" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>Enter Room No.</td>
                        <td>
                            <input type="text" name="roomno" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>Enter No. of Seats</td>
                        <td>
                            <input type="text" name="seats" class="form-control">
                        </td>
                    </tr>
                    <tr>
                    
                        <td colspan="2" class="p-4 text-center">
                            <button type="submit" class="btn btn-success">Add</button>
                        </td>
                    </tr>
                </table>
              </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered text-center text-light">
                <tr>
                    <th>Class ID</th>
                    <th>Class Name</th>
                    <th>Room No.</th>
                    <th>Seats</th>
                    <th>Actions</th>
                </tr>
                {% for cl in c %}
                <tr>
                    <td>{{cl.id}}</td>
                    <td>{{cl.name}}</td>
                    <td>{{cl.roomno}}</td>
                    <td>{{cl.seats}}</td>
                    <td>
                        <a href="{% url 'adminapp:editclass' id=cl.id %}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock body %}
