{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Student</h1>   
            <form class="row" method="post">
                {% csrf_token %}
                <div class="col-sm-12">
                    {% if msg %}
                    <div class="alert alert-dark" role="alert">{{msg}}</div>
                    {% endif %}
                    <div class="row py-2">
                        <div class="col-sm-6"><input type="text" name="name" class="form-control text-light" placeholder="Enter Student Name" required="true"></div>
                        <div class="col-sm-6"><input type="text" name="fname" placeholder="Enter father's name" class="form-control text-light" required="true"></div>
                    </div>
                    <div class="row py-2">
                        <div class="col-sm-6"><input type="number" name="mobile" placeholder="Enter mobile number" class="form-control text-light" required="true"></div>
                        <div class="col-sm-6"><input type="email" name="email" placeholder="Enter email" class="form-control text-light" required="true"></div>
                    </div>
                    <div class="row py-2">
                        <div class="col-sm-6"><input type="text" name="password" placeholder="Enter password"  class="form-control text-light" required="true"></div>
                        <div class="col-sm-6"><input type="text" name="fnumber" placeholder="Enter Father's Number" class="form-control text-light" required="true"></div>
                    </div>
                    <div class="row py-2">
                        <div class="col-sm-6"><input type="date" name="dob" placeholder="Enter Dob" class="form-control text-light" required="true"></div>
                        <div class="col-sm-6">
                            <select name="sclass" id="" class="form-select">
                                <option value="" selected>---Select Class---</option>
                                {% for c in cl %}
                                <option value="{{c.name}}">{{c.name}}</option>
                                {% endfor %}
                            </select>
                            
                
                    </div>
                    <div class="row py-3">
                        <div class="col-sm-4"><input type="text" name="sfee" placeholder="sfee" class="form-control text-light" required="true"></div>
                        <div class="col-sm-4"><input type="text" name="balance" placeholder="Enter rest fee" class="form-control text-light" required="true"></div>
                    
                    
                        <div class="col-sm-4">
                            <textarea name="address" class="form-control text-light" placeholder="Enter Address" required="true"></textarea>

                        </div>
                    
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-success d-inline-block my-3 mx-auto px-4">Add</button>
                        </div>
                      </div>
                </div>
            </form>
            <div class="row my-3">
                <table class="table-bordered text-center">
                    <tr>
                        <td>S no.</td>
                        <td>Name</td>
                        <td>F Name</td>
                        <td>Mobile</td>
                        <td>Email</td>
                        <td>F Number</td>
                        <td>DOB</td>
                        <td>Sclass</td>
                        <td>Sfee</td>
                        <td>Balance</td>
                        <td>Address</td>
                        
                        <td colspan="2">Action</td>
                    </tr>
                   {%for i in stu%}
                   <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.fname}}</td>
                    <td>{{i.mobile}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.fnumber}}</td>
                    <td>{{i.dob}}</td>
                    <td>{{i.sclass}}</td>
                    <td>{{i.sfee}}</td>
                    <td>{{i.balance}}</td>

                    <td>{{i.address}}</td>
                
                    <td>
                        <a href="{% url 'adminapp:editstudent' id=i.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'adminapp:delstudent' id=i.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                   {%endfor%}
                </table>
            </div>
        </div>
    </div>
{% endblock body %}
