{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Subjects</h1>   
              <form action="" method="post" class="row">
              {% csrf_token %}
                <table class="table text-light w-75 mx-auto">
                    <tr>
                        <td>Enter Subject Name</td>
                        <td>
                            <input type="text" name="name" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>Select Class</td>
                        <td>
                            <select name="classid" class="form-select">
                                <option selected>----Select class----</option>
                                {% for c in cl %}
                                <option value="{{c.name}}">{{c.name}}</option>
                                {% endfor %}
                                
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Select Teacher</td>
                        <td>
                            <select name="teacherid" class="form-select">
                                <option selected>----Select Teacher----</option>
                                {% for t in teacher %}
                                <option value="{{t.id}}">{{t.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Enter Book Name</td>
                        <td>
                            <input type="text" name="book" class="form-control">
                        </td>
                    </tr>
                    <tr>
                    
                        <td colspan="2" class="p-4 text-center">
                            <button type="submit" class="btn btn-success">Add</button>
                        </td>
                    </tr>
                </table>
              </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered text-center text-light">
                <tr>
                    <th>Subject ID</th>
                    <th>Subject Name</th>
                    <th>Class Name</th>
                    <th>Teacher Id</th>
                    <th>Book Name</th>
                    <th>Actions</th>
                </tr>
                {% for s in sub %}
                <tr>
                    <td>{{s.id}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.classid}}</td>
                    <td>{{s.teacherid}}</td>
                    <td>{{s.book}}</td>
                    <td>
                        <a href="{% url 'adminapp:delsubject' id=s.id %}" class=" btn btn-danger">Delete</a>
                        <a href="{% url 'adminapp:editsubject' id=s.id %}" class=" btn btn-primary">Edit</a>
                    </td>
                </tr>
                {% endfor %} 
            </table>
        </div>
    </div>
{% endblock body %}
